name: Unit tests with Maven

on:
  push:
    branches: [ "main","prep","demo" ]
  pull_request:
    branches: [ "main","prep","demo" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Test with Maven
        run: mvn -B test --file pom.xml
